:root {
  --color-white: #FAF3F3;
  --color-black: #000;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  body {
    font-size: 2rem;
  }
}

p {
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 500;
}

@media (min-width: 992px) {
  p {
    font-size: 1.8rem;
  }
}

/* BLOCKS */

.block {
  margin: 0;
  padding: 1.5% 3% 3%;
  width: auto;
}

.block--blue {
  background: #04009A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00EAD3, #77ACF1, #04009A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00EAD3, #77ACF1, #04009A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.block--white {
  background: var(--color-white);
}

/* NAVBAR */
.navbar {
  padding: 0;
  margin-bottom: 3%;
}

.nav-item {
  margin-left: 1.8rem;
  text-align: right;
}

.nav-link {
  font-weight: 400;
}

.navbar-toggler {
  font-size: 1.8rem;
}

.navbar-collapse {
  margin-top: 3%;
}

@media (min-width: 992px) {
  .navbar-collapse {
    margin-top: 0;
  }
}

/* HEADER BLOCK  */
.block__header {
  text-align: center;
  padding: 1rem 0;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
}

.block__header--blue {
  color: var(--color-white);
}

.block__header--white {
  color: var(--color-black);
}

/* PHOTO */

.block__photo {
  max-width: 50%;
  border-radius: 100%;
  border: solid #fff 3px;
  margin: 0;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, .5);
}

@media (min-width: 768px) {
  .block__photo {
    max-width: 25%;
  }
}

@media (min-width: 992px) {
  .block__photo {
    max-width: 20%;
  }
}

@media (min-width: 1200px) {
  .block__photo {
    max-width: 15%;
  }
}

/* BLOCKS */

.block__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 5.5rem;
  display: inline-block;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, .4);
  margin: 0;
}

#presentation .block__heading {
  margin: 6% 0 0;
}

.block__heading--white {
  color: #FAF3F3;
}

#presentation .block__heading--white {
  display: block;
  font-family: "Sacramento", sans-serif;
}


@media (min-width: 576px) {
  .block__heading {
    font-size: 8rem;
  }

  #presentation .block__heading {
    margin: 4% 0 0;
  }
}

@media (min-width: 992px) {

  .block__heading {
    font-size: 9rem;
  }

  #presentation .block__heading {
    margin: 2% 0 0;
  }
}

.block__heading-icons {
  font-size: 3.7rem;
  margin-right: 3%;
}

@media (min-width: 576px) {
  .block__heading-icons {
    font-size: 5.3rem;
    margin-right: 2%;
  }
}

@media (min-width: 992px) {
  .block__heading-icons {
    font-size: 6rem;
    margin-right: 1%;
  }
}

.block__heading-icons--white {
  color: var(--color-white);
}

.block__heading-icons--dark {
  color: var(--color-black);
}

.block__description {
  padding: 0 10%;
  margin: 3% 0 0;
  text-align: center;
}

@media (min-width: 768px) {
  .block__description {
    margin-top: 2%;
  }
}

@media (min-width: 992px) {
  .block__description {
    padding: 0 25%;
    margin-top: 1%;
  }
}

.block__description--white {
  color: var(--color-white);
}

.block__description--black {
  color: var(--color-black);
}

.block__description-last {
  margin-bottom: 0;
}

/* Cards */

.card {
  border: none;
  border-radius: 1rem;
  transition: transform 0.2s ease-out;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.03);
}

@media (min-width: 768px) {
  .card--skills {
    height: 23rem;
  }
}

.shadow--primary {
  box-shadow: 0 0 20px 10px #f3f3f3;
}

.shadow--secondary {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .3)
}

.card-header {
  font-size: 2.8rem;
  font-weight: 500;
}

.card-header--primary {
  background: -webkit-linear-gradient(to right, #03256C, #6A097D);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #03256C, #6A097D);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-header--secondary {
  background: -webkit-linear-gradient(to right, #D3DEDC, #FFEFEF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D3DEDC, #FFEFEF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-body {
  font-weight: 500;
  font-size: 1.7rem;
  color: var(--color-black);
  padding: 2rem;
}

.card-body--white {
  padding-left: 3rem;
}

.card-body--grey {
  background: -webkit-linear-gradient(to right, #D8D2CB, #F2F2F2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D8D2CB, #F2F2F2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Lists */

.list {
  list-style: none;
  margin: 0;
}

.list__item {
  margin-bottom: 4%;
}

.list__item-last {
  margin-bottom: 0;
}

.list__icon {
  height: 1.7rem;
  margin-right: 4%;
}

.skills-container {
  text-align: center;
  padding: .5% 10%;
}

/* Timelines */

.timeline {
  margin: 1% 0 0;
}

.timeline__date {
  font-size: 1.5rem;
  text-align: center;
  color: var(--color-white);
  background: -webkit-linear-gradient(to right, #03256C, #6A097D);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #03256C, #6A097D);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  padding: 6%;
  border-radius: 100%;
  border: 2px solid var(--color-white);
  transition: transform 0.2s ease-out;
  z-index: 1;
}

@media (min-width: 768px) {
  .timeline__date {
    font-size: 1.8rem;
    padding: 1%;
  }
}

.timeline__date:hover {
  transform: scale(1.05);
}

.timeline__line {
  display: inline-block;
  width: 35%;
  content: ".";
  font-size: 0;
  color: transparent;
  height: 2px;
  background: var(--color-white);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3);
  position: relative;
}

.timeline__line--hidden {
  visibility: hidden;
}

.timeline__dotted-line {
  height: 4rem;
  width: .2rem;
  padding: 0;
  border-right: dotted .2rem var(--color-white);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3);
  background: #618CC5;
}

.timeline__milestone {
  text-align: center;
}

.timeline__milestone-title {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

@media (min-width: 768px) {
  .timeline__milestone-title {
    font-size: 2.8rem;
  }
}

.timeline__milestone-icon {
  height: 5rem;
}

@media (min-width: 768px) {
  .timeline__milestone-icon {
    height: 6rem;
  }
}

/* Buttons */

.btn {
  font-size: 2rem;
  border-radius: 1rem;
  border: none;
  font-weight: 500;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn--primary {
  color: var(--color-white);
}

.timeline__title {
  color: var(--color-white);
  border-radius: 1rem;
  padding: 2%;
  background: #04009A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #03256C, #6A097D);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #03256C, #6A097D);
}

.button--primary {
  background: #04009A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #03256C, #6A097D);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #03256C, #6A097D);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FAF3F3;
  transition: background-color 2s ease;
}

.button--primary:hover {
  background: #04009A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #AA2EE6, #9D0191);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #AA2EE6, #9D0191);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 1;
}


/* ______________SKILLS SECTION________________________ */
.skills-subtext {
  font-size: 1rem;
  padding: 0 5%;
  margin-bottom: 3%;
}

.skills-icons {
  width: 3rem;
}

.skills-titles {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}

/*_______________EXPERIENCE SECTION_________________*/
.exp-position {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #FAF3F3;
  margin: 1rem 0;
}

.exp-type-job {
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  color: #FAF3F3;
  margin: 1rem 0;
}

.company-logo {
  max-height: 40%;
  cursor: pointer;
}

.company-row {
  margin: 0;
}

.learn-more-cards-blue-bg {
  margin-left: 15px;
  border: 0;
  padding: 0;
  background-color: inherit;
  font-weight: bold;
  color: #FAF3F3;
}

/* Timeline Experience Main */
.timeline-exp {
  border-left: 3px solid #FAF3F3;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0 auto;
  position: relative;
  padding: 50px;
  list-style: none;
  text-align: left;
  max-width: 60%;
}

/* Padding, margin & positioning of the career-datess */
.career-dates {
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

.career-dates:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
}

.career-dates:before,
.career-dates:after {
  position: absolute;
  display: block;
  top: 0;
}

/* Dates */
.career-dates:before {
  left: -207px;
  content: attr(dates);
  text-align: right;
  font-weight: bold;
  font-size: 0.9rem;
  min-width: 120px;
  color: #FAF3F3;
}

/* Circles of the timeline */
.career-dates:after {
  -webkit-box-shadow: 0 0 0 3px #FAF3F3;
  box-shadow: 0 0 0 3px #FAF3F3;
  left: -56.3px;
  background: #14DFD8;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: "";
  top: 5px;
}

.hr-experience {
  border: solid #FAF3F3 1px;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin: 0 auto 10px;
}

.links-experience {
  color: #fff;
  text-decoration: underline;
}

.links-experience:hover {
  color: #FFF5B7;
}

/* _____________EDUCATION______________ */
/* Timeline Education */
.edu-school {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #150E56;
  margin: 1rem 0;
}

.edu-major {
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  color: #150E56;
  margin: 1rem 0;
}

.timeline-education {
  border-left: 3px solid #14DFD8;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0 auto;
  position: relative;
  padding: 50px;
  list-style: none;
  text-align: left;
  max-width: 60%;
}

/* Padding, margin & positioning of the education-dates */
.education-dates {
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

.education-dates:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
}

.education-dates:before,
.education-dates:after {
  position: absolute;
  display: block;
  top: 0;
}

/* Dates */
.education-dates:before {
  left: -210px;
  content: attr(dates);
  text-align: right;
  font-weight: bold;
  font-size: 0.9rem;
  min-width: 120px;
  color: #150E56;
}

/* Circles of the timeline */
.education-dates:after {
  -webkit-box-shadow: 0 0 0 3px #14DFD8;
  box-shadow: 0 0 0 3px #14DFD8;
  left: -56.3px;
  background: #fff;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: "";
  top: 5px;
}

.learn-more-btns-white-bg {
  position: relative;
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background: #04009A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #005F99, #3EDBF0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #005F99, #3EDBF0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FAF3F3;
  border: none;
  transition: background-color 2s ease;
  z-index: 1;
}

.learn-more-btns-white-bg::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(to right, #150E56, #04009A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #150E56, #04009A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: -1;
  transition: opacity 0.5s ease;
  opacity: 0;
  border-radius: .25rem;
}

.learn-more-btns-white-bg:hover::before {
  background: #04009A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #150E56, #04009A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #150E56, #04009A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 1;
  border-radius: .25rem;
}

.learn-more-btns-white-bg:focus {
  outline: none;
  box-shadow: none;
}

.learn-more-cards-white-bg {
  margin-left: 15px;
  border: 0;
  padding: 0;
  background-color: inherit;
  font-weight: bold;
  color: #000;
}

.hr-education {
  border: solid #14DFD8 1px;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin: 0 auto 10px;
}

/* ______________ CONTACT ME SECTION _______ */
.contact-me-container {
  text-align: center;
  padding: 0 25%;
  background-color: inherit;
}

/*______________FOOTER______________________ */
.copyright {
  font-size: .8rem;
  text-align: center;
  background-color: inherit;
  padding: 3% 0 1%;
  margin: 0;
}

/*_____________MEDIA QUERIES_________________*/

@media (max-width: 1200px) {
  .exp-position {
    font-size: 1.3rem;
  }

  .exp-type-job {
    font-size: 1rem;
  }

  .edu-school {
    font-size: 1.3rem;
  }

  .edu-major {
    font-size: 1rem;
  }

}

/* Query Medium Screens */
@media (max-width: 992px) {

  /* Dates to the right of the timeline */
  .timeline-exp {
    max-width: 98%;
    padding: 25px;
    margin-left: 6%;
  }

  .timeline-exp .career-dates {
    padding-top: 30px;
  }

  .timeline-exp .career-dates:before {
    left: 0;
    text-align: left;
  }

  .timeline-exp .career-dates:after {
    left: -31.8px;
  }

  /* edu */
  .timeline-education {
    max-width: 98%;
    padding: 25px;
    margin-left: 6%;
  }

  .timeline-education .education-dates {
    padding-top: 30px;
  }

  .timeline-education .education-dates:before {
    left: 0;
    text-align: left;
  }

  .timeline-education .education-dates:after {
    left: -31.8px;
  }

  .company-logo {
    max-height: 65%;
  }

  .company-logo-col {
    padding-left: 0;
  }

  .button--primary {
    margin-left: 0;
  }

  .learn-more-btns-white-bg {
    margin-left: 0;
  }

  .learn-more-cards-blue-bg {
    margin-left: 0;
  }

  .learn-more-cards-white-bg {
    margin-left: 0;
  }

  .exp-position {
    font-size: 1.2rem;
  }

  .exp-type-job {
    font-size: 0.9rem;
  }

  .edu-school {
    font-size: 1.2rem;
  }

  .edu-major {
    font-size: 0.9rem;
  }

  .skills-subtext {
    margin-bottom: 8%;
  }

}

/* Query Small Screens */
@media (max-width: 768px) {

  /*________________________*/
  .company-logo {
    max-height: 60%;
  }

  .section-heading-blue-bg {
    font-size: 2.5rem;
  }

  .heading-icons-blue-bg {
    font-size: 2.5rem;
  }

  .section-heading-white-bg {
    font-size: 2.5rem;
  }

  .heading-icons-white-bg {
    font-size: 2.5rem;
  }

  .skills-container {
    padding: 0;
  }

  .skills-subtext {
    font-size: 0.9rem;
    /* margin-bottom: 8%; */
  }

  .skills-titles {
    font-size: 0.9rem;
  }
}

/* Query Extra Small Screens */
@media (max-width: 567px) {
  .what-i-do {
    padding-left: 0;
  }
}

/* Smooth transition on collapses' */
@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition-property: height, visibility;
    transition-duration: .35s;
  }
}