[data-aos="fade--left-right"] {
    transition-property: transform;
    transform: translateX(100px);
    visibility: hidden;
  
    &.aos-animate {
        transform: translateX(0);
        visibility: visible;
    }
  
    @media screen and (min-width: 992px) {
        transform: translateX(-100px);
  
        &.aos-animate {
            transform: translateX(0);
        }
    }
}