<ul class="list list--icon">
  <div class="d-flex align-items-center list__item">
    <img src="images/html5-icon.svg" alt="" class="list__icon" />
    <li class="">HTML5</li>
  </div>
  <div class="d-flex align-items-center list__item">
    <img src="images/css3-icon.svg" alt="" class="list__icon" />
    <li class="">CSS3</li>
  </div>
  <div class="d-flex align-items-center list__item">
    <img src="images/javascript-icon.svg" alt="" class="list__icon" />
    <li class="">JavaScript ES6</li>
  </div>
  <div class="d-flex align-items-center list__item">
    <img src="images/vue-icon.svg" alt="" class="list__icon" />
    <li class="">Vue.JS</li>
  </div>
</ul>
